html {
  scroll-behavior: smooth;
  block-size: auto;
}

@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/CircularStd/CircularStd-Medium.otf);
}

@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/CircularStd/CircularStd-Bold.ttf);
}

@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/CircularStd/CircularStd-Black.otf);
}

@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/CircularStd/CircularStd-Book.ttf);
}

/* ... */
.App {
  font-family: 'Circular Std';
  text-align: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFFFFF;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cvButton{
  position:fixed;
  flex-direction: column;
  width: 100px;
  height: 100px;
  bottom:40px;
  right:40px;
  background-color: #6CD09B;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  z-index: 5;
}

.textCVButton{
  color: white;
  padding-top: 15px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.imgCV{
  width: 40px;
  padding-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .cvButton{
    width: 75px;
    height: 75px;
    bottom:30px;
    right:30px;
  }
  .textCVButton{
    padding-top: 15px;
    font-size: 15px;
  }
  .imgCV{
    width: 30px;
    padding-bottom: 22px;
  }
}



#loader_background{
  min-height: 100vh;
  background: white;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}


.loader {
  --path: #559eed;
  --dot: #6cd09b;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}
.loader:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  -webkit-transform: translate(-18px, -18px);
  transform: translate(-18px, -18px);
  -webkit-animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  -webkit-animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes dotRect {
  25% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(18px, -18px);
    transform: translate(18px, -18px);
  }
  75% {
    -webkit-transform: translate(0, -36px);
    transform: translate(0, -36px);
  }
  100% {
    -webkit-transform: translate(-18px, -18px);
    transform: translate(-18px, -18px);
  }
}
@-webkit-keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
.loader {
  display: inline-block;
  margin: 0 16px;
}

#myDiv {
  display: none;
}
