
.myNav{
    margin-right: 15%;
    margin-left: 15%;
    text-align: left;
}

.icon{
    max-width: 25px;
    vertical-align: center;
    padding-top: 10px;
}

#contactIcon{
    max-width: 25px;
    vertical-align: center;
    padding-right: 5px;
}