
.myNav{
    margin-right: 15%;
    margin-left: 15%;
    text-align: left;
}

.icon{
    max-width: 25px;
    vertical-align: center;
    padding-top: 10px;
}

#contactIcon{
    max-width: 35px;
    vertical-align: center;
    padding-right: 5px;
}

@media screen and (max-width: 1200px) {
    #madeInReact{
        font-size: 0.8rem;
    }
    .nav-link{
        font-size: 0.8rem !important;
    }
}

@media screen and (max-width: 991px) {
    .myNav{
        margin-right: 10%;
        margin-left: 10%;
    }
}


