.parcoursContainer{
    margin-top: 150px;
    z-index: 0;
    background-color: white;
 }

#parcoursSVG{
    margin-top: 150px;
}

@media screen and (max-width: 900px) {

    #parcoursSVG{
        margin-top:30px;
        margin-bottom: -250px;
    }
}